<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dapsr.treesofdelhi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Tree.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScrollView.SlidingUpScrollViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SlidingUpActiviity.Bael_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Chinar_like_leaves_Sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Frangipani_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Gulmohur_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.ImLI_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Jamun_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Palm_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Peepal_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Pine_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SlidingUpActiviity.Semal_like_leaves_sliding"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
